
body {
  min-height: 100vh;
  background: #0C0C0A;
  color: #FDFCF2;
  font-family: 'Exo 2', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 5px;
  background: transparent;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-family: 'Russo One', sans-serif;
  font-size: 9px;
  color: #FDFCF2;
  text-decoration: none;
}

.navbar a {
  font-size: 7px;
  font-weight: 700;
  color: #494950;
  text-decoration: none;
  padding-right: 40px;
  transition: 0.5s;
}

.navbar a:hover {
  color: #FDFCF2;
}

.slogan-container {
  width: 55%;
}

.slogan, .future {
  padding: 20px 0px 0px 20px;
  font-family: 'Russo One', sans-serif; 
  font-size: 50px;
  font-weight: 500;
  color: #0C0C0A;
  -webkit-text-stroke: 1px #FDFCF2;
  transition: 0.5s;
}

.slogan:hover {
  color: #FDFCF2;
  text-shadow: 7.5px 0px 1px #E53434;
}

.slogan:hover .future {
  color: #E53434;
  text-shadow: 7.5px 0px 1px #FDFCF2;
  -webkit-text-stroke: 1px #E53434;
}

.slogan:hover .wiener {
  font-size: 60px;
  transition: font-size 0.8s ease-out;
}

.img-container {
  position: absolute;
  top: 0px;
  right: 0px;
  vertical-align: top;
}

p {
  max-width: 70ch;
  font-size: 10px;
}

.flvrtxt {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  align-items: flex-end;
}

.btn {
    font-family: 'Exo 2', sans-serif;
    font-size: 7px;
    font-weight: bold;
    background: #B98D27;
    border-radius: 10px;
    border-width: 1px;
    border-color: #c0983d;
    text-align: center
}

.btn:hover {
    background: #0C0C0A;
    color: #c0983d;
}